@media screen and (max-width: 700px) {
    .header__text {
        grid-template-rows: 200px 100px 150px;
    }

    .header__menu a {
        font-size: 15px;
    }

    .main__tags {
        display: block;
        margin: 0 auto;
    }
}

@media screen and (max-width: 400px) {
    .header__text {
        margin-top: 50px;
    }

    .header__text h1 {
        font-size: 40px;
    }
}