html {
  margin: 0;
}

* {
  margin: 0;
}

header {
  background-image: url("../image/back-lg.png");
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100px;
}

.header__h2 {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
}

.header__menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 40px;
}

.header__menu li {
  list-style: none;
}

.header__menu a {
  text-decoration: none;
  color: #fff;
  font-family: "Muli", sans-serif;
  font-size: 20px;
}

.header__menu a:hover {
  color: black;
  border-bottom: 2px solid black;
}

.header__text {
  margin-top: 230px;
  display: grid;
  grid-template-rows: 100px 100px 230px;
}

.header__text h1 {
  color: #fff;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 70px;
  font-weight: 300;
}

.header__text h3 {
  color: #fff;
  text-align: center;
  font-family: "Muli", sans-serif;
  font-size: 25px;
  font-weight: 200;
}

.header__text button {
  height: 40px;
  width: 180px;
  margin: 0 auto;
  border: 2px solid #fff;
  cursor: pointer;
  background-image: none;
  background: transparent;
  float: left;
  background-color: transparent;
  color: #fff;
  font-size: 15px;
}

main {
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.main__text {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: center;
  align-self: center;
}

.main__text h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}

.main__text p {
  text-align: center;
}

.main__line {
  border-bottom: 2px solid black;
  width: 150px;
  margin: 0 auto;
  margin-bottom: 10px;
}



.main__tag1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;
  align-self: center;
  margin-bottom: 20px;
}

.main__tag1 h3 {
  margin-top: 10px;
  text-align: center;
}

.main__tag1 p {
  margin-top: 10px;
  text-align: center;
}

.krug {
  display: flex;
  margin: 0 auto;
  width: 90px;
  height: 90px;
  background-color: red;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.krug p {
  font-size: 40px;
}

.main__tag2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.main__tag2 img {
  width: 90px;
  height: 90px;
}

.main__tag2 h3 {
  margin-top: 10px;
  text-align: center;
}

.main__tag2 p {
  margin-top: 10px;
  text-align: center;
}

.main__tag3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;
  align-self: center;
  text-align: center;
  s
}

.main__tag3 img {
  width: 90px;
  height: 90px;
}

.main__tag3 h3 {
  margin-top: 10px;
  text-align: center;
}

.main__tag3 p {
  margin-top: 10px;
  text-align: center;
}





.footer__slide {
  background: url("../image/bg-lg2.jpg") no-repeat;
  background-position: center;
  height: 370px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.footer__slide p {
  color: black;
  font-size: 30px;
  font-family: "Lato", sans-serif;
  text-align: center;
}

.slide__1p {
  margin-top: 50px;
}

.footer__slide button {
  height: 40px;
  width: 180px;
  margin: 0 auto;
  border: 2px solid #fff;
  cursor: pointer;
  background-image: none;
  background: transparent;
  float: left;
  background-color: transparent;
  color: black;
  font-size: 15px;
}