html {
    margin: 0;
}

* {
    margin: 0;
}

header {
    background-image: url("../image/back-lg.png");
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1600px;
    margin: 0 auto;
}

.header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100px;
}

.header__h2 {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}

.header__menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 40px;
}

.header__menu li {
    list-style: none;
}

.header__menu a {
    text-decoration: none;
    ;
    color: #fff;
    font-family: 'Muli', sans-serif;
    font-size: 20px;
}

.header__menu a:hover {
    color: black;
    border-bottom: 2px solid black;
}

.header__text {
    margin-top: 230px;
    display: grid;
    grid-template-rows: 100px 100px 230px;
}

.header__text h1 {
    color: #fff;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 70px;
    font-weight: 300;
}

.header__text h3 {
    color: #fff;
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-size: 25px;
    font-weight: 200;
}

.header__text button {
    height: 40px;
    width: 180px;
    margin: 0 auto;
    border: 2px solid #fff;
    cursor: pointer;
    background-image: none;
    background: transparent;
    float: left;
    background-color: transparent;
    color: #fff;
    font-size: 15px;
}

.main__text {
    margin-top: 100px;
    display: grid;
    grid-template-rows: 50px 40px 70px;
}

.main__text h2 {
    color: #555555;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.main__line {
    margin: 0 auto;
    width: 50px;
    border-top: 2px solid #555555;
}

.main__text h4 {
    color: #555555;
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-size: 15px;
    font-weight: 500;
}